<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="3;url=/index.php/index/asia/welcome" />-->
    <title>大数据中心安全考试</title>
</head>
<script src="/public/static/demo/jquery.min.js"></script>
<body>
<h1 align="center" style="font-size: 75px;margin-top: 10%;">感谢您的参与</h1>
<h2 align="center" style="font-size: 55px;margin-top: 16%;">共答对{$success}题</h2>
<h2 align="center" style="font-size: 55px;margin-top: 16%;">共答对{$success}题</h2>
<div align="left" style="font-size: 35px;margin-top: 20%;">
    {$log}
</div>
<!--<div class="container" style="text-align: center;">-->
    <!--&lt;!&ndash; BEGIN MAIN CONTENT &ndash;&gt;-->
    <!--<section class="error-wrapper">-->
        <!--<p class="page-404">-->
            <!--<span>页面自动</span>-->
            <!--<a href="/index.php/index/asia/welcome">跳转</a>-->
            <!--<span>等待时间：</span>-->
            <!--<span class="second">3</span>-->
        <!--</p>-->
    <!--</section>-->
    <!--&lt;!&ndash; END MAIN CONTENT &ndash;&gt;-->
<!--</div>-->
<script type="text/javascript">
    // $(function() {
    //     var wait = $(".second").html();
    //     // timeOut();
    //     /**
    //      * 实现倒计时
    //      */
    //     function timeOut() {
    //         if(wait != 0) {
    //             setTimeout(function() {
    //                 $('.second').text(--wait);
    //                 timeOut();
    //             }, 1000);
    //         }
    //     }
    // });
</script>



</body>
</html>